@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #030014;
    --card: rgba(0, 0, 0, 0.05);
    --card-foreground: #030014;
    --border: #e5e7eb;
  }

  .dark {
    --background: #030014;
    --foreground: #ffffff;
    --card: rgba(255, 255, 255, 0.05);
    --card-foreground: #ffffff;
    --border: #7042f861;
  }

  html {
    overflow-x: hidden;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas-neue);
  letter-spacing: 0.05em;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #7042f8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b32d6;
}

.meter {
  height: 8px;
  width: 60%;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #7042f8;
}